-r ../requirements.txt
darglint==1.8.1
dlint==0.14.0
flake8==5.0.4
flake8-annotations==2.9.1
flake8-blind-except==0.2.1
flake8-bugbear==23.2.13
flake8-builtins==2.1.0
flake8-quotes==3.3.2
flake8-return==1.2.0
flake8-sfs==0.0.4
flake8-simplify==0.19.3
pytest==7.2.1
pytest-cov==4.0.0
pytest-mock==3.10.0
pytest-xdist==3.2.0
pycodestyle==2.9.0
responses==0.22.0
