-r requirements.txt
darglint==1.5.4
dlint==0.10.3
pytest==5.3.0
pytest-mock==1.12.0
responses==0.10.6
pytest-cov==2.8.1
pytest-flake8==1.0.6
flake8-bugbear==20.1.4
flake8-return==1.1.2
pycodestyle==2.6.0
