/* DARK THEME PROPERTIES */
body {
  background-color: #1b1b1b;
  color: #fff;
}

body button {
  background-color: #059cd7;
  border: none;
}

body button:hover {
  background-color: #037eaf;
}

body .navbar-default {
  border-color: #373737;
  background: #171717;
}

body .navbar-default a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff !important;
}

body input {
  background: #3a3a3a;
  border-color: #828181;
}

body .panel-default {
  background-color: #3a3a3a !important;
  border-color: #828181 !important;
}

tr {
  background-color: #3a3a3a !important;
}

body tr:nth-child(even) {
  background-color: #555 !important;
}

a {
  color: #059cd7;
}

#toggler-text {
  color: #fff;
}

.active a {
  background-color: #3a3a3a !important;
  color: #fff !important;
}

.alert-info {
  border-color: #828181;
  background-color: #3a3a3a;
  color: #fff;
}

#btn-save-changes {
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
}

#btn-save-changes:hover {
  background-color: #265b8a !important;
}

#btn-reset-settings {
  background-color: #c9302c !important;
  border-color: #ac2925 !important;
}

#btn-reset-settings:hover {
  background-color: #ac2b26 !important;
}

.form-control {
  background: #3a3a3a;
  border-color: #828181;
  color: #fff !important;
}

.dark {
  display: inline;
}

.light {
  display: none;
}

.fade.in {
  background: #1b1b1b !important;
}

.modal-content {
  background-color: #3a3a3a;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#btn-filter {
  background-color: #059cd7;
  color: #fff;
  border-color: #059cd7;
}

.btn-group > .btn + .dropdown-toggle {
  background-color: #059cd7 !important;
  color: #fff !important;
  border-color: #0a81b0;
  border-left: 1px solid #e7e7e7;
}

#btn-rerun {
  background-color: #059cd7 !important;
  color: #fff !important;
  border-color: #0a81b0;
}

#btn-stop {
  background-color: #059cd7 !important;
  color: #fff !important;
  border-color: #0a81b0;
  border-left: 1px solid #e7e7e7;
}

#btn-refresh {
  background-color: #059cd7 !important;
  color: #fff !important;
  border-color: #0a81b0;
}

#btn-export {
  background-color: #059cd7 !important;
  color: #fff !important;
  border-color: #0a81b0;
  border-left: 1px solid #e7e7e7;
}

.btn {
  background-color: #059cd7 !important;
  color: #fff !important;
  border-color: #0a81b0;
}

#scanlist .alert-info {
  background-color: #282828;
}

#breadcrumbs {
  background-color: #3a3a3a;
}

.table-border-bg-inherit {
  color: #fff;
}

svg text {
  fill: #fff;
}

.axis path, .axis line {
  fill: #fff;
  stroke: #fff;
}

#errors, #status, #ucounter, #tcounter {
  opacity: 0.9;
}

tr.danger {
  color: #000;
}

.dropdown-menu {
  background-color: #555;
}

.dropdown-menu > li > a {
  color: #fff !important;
}

.nav-tabs {
  border-bottom: none;
}

.popover-title {
  background-color: #555;
  color: #fff;
}