<%include file="HEADER.tmpl"/>
<div class="alert alert-danger">
<h4>${message}</h4>
<br><br>
Please go back and try again. If you're pretty sure this is a bug, please contact the support mailing list at <a href=mailto:support@spiderfoot.net>support@spiderfoot.net</a>.
</div>
<%include file="FOOTER.tmpl"/>
