<%include file="HEADER.tmpl"/>
<div class="alert alert-danger">
<h4>${message}</h4>
<br><br>
Please go back and try again. If you're pretty sure this is a bug, please <a href='mailto:support@spiderfoot.io'>contact us</a>
</div>
<%include file="FOOTER.tmpl"/>
