    </div>
    <footer class="navbar-default navbar-fixed-bottom">
      <div class="container-fluid text-center footer">
        <%
        messages = [
            "<i class='glyphicon glyphicon-flash'></i>&nbsp;&nbsp;<a target=_new href='https://www.spiderfoot.net/hx'>Create a (free) SpiderFoot HX account in seconds and try it out for yourself.</a>",
            "<i class='glyphicon glyphicon-flash'></i>&nbsp;&nbsp;<a target=_new href='https://www.spiderfoot.net/open-source-vs-hx'>Learn about the difference between SpiderFoot and SpiderFoot HX.</a>",
            "<i class='glyphicon glyphicon-heart'></i>&nbsp;&nbsp;<a target=_new href='https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fpublish.twitter.com%2F&ref_src=twsrc%5Etfw%7Ctwcamp%5Ebuttonembed%7Ctwterm%5Efollow%7Ctwgr%5Espiderfoot&screen_name=spiderfoot'>Follow SpiderFoot on Twitter for the latest updates.</a>",
            "<i class='glyphicon glyphicon-education'></i>&nbsp;&nbsp;<a target=_new href='https://www.spiderfoot.net/documentation'>Check out the SpiderFoot documentation to get more out of SpiderFoot.</a>",
            "<i class='glyphicon glyphicon-heart'></i>&nbsp;&nbsp;<a target=_new href='https://discord.gg/vyvztrG'>Join the SpiderFoot community Discord!</a>",
            "<i class='glyphicon glyphicon-console'></i>&nbsp;&nbsp;<a target=_new href='https://asciinema.org/~spiderfoot'>Did you know SpiderFoot also has a CLI? Check out our asciinema tutorials on how to use it.</a>",
            "<i class='glyphicon glyphicon-flash'></i>&nbsp;&nbsp;<a target=_new href='https://www.spiderfoot.net/hx'>Want more OSINT automation capabilities? Check out SpiderFoot HX.</a>",
            "<i class='glyphicon glyphicon-cloud'></i>&nbsp;&nbsp;<a target=_new href='https://www.spiderfoot.net/hx'>Don't want to manage your SpiderFoot installation yourself? Check out SpiderFoot HX.</a>",
            "<i class='glyphicon glyphicon-film'></i>&nbsp;&nbsp;<a target=_new href='https://www.youtube.com/channel/UCujtHhVLNeiJA_3F-lghD-w'>Check out our YouTube channel to see SpiderFoot HX in action.</a>"
        ]

        import random
        message = messages[random.randint(0, len(messages)-1)]
        %>
        <span>${message}</span>
      </div>
    </footer>

    </body>
</html>
