<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SpiderFoot v${version}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <script type='text/javascript'>
        replace_sfurltag = function (data) {
            if (data.toLowerCase().indexOf("&lt;sfurl&gt;") >= 0) {
              data = data.replace(
                RegExp("&lt;sfurl&gt;(.*)&lt;/sfurl&gt;", "img"),
                "<a target=_new href='$1'>$1</a>"
              );
            }
            if (data.toLowerCase().indexOf("<sfurl>") >= 0) {
              data = data.replace(
                RegExp("<sfurl>(.*)</sfurl>", "img"),
                "<a target=_new href='$1'>$1</a>"
              );
            }
            return data;
          };
          </script>
        <style>
            .tablesorter-default {
 width:100%;
 font:12px/18px Arial,Sans-serif;
 color:#555;
 background-color:#fff;
 border-spacing:0;
 margin:10px 0 15px;
 text-align:left
}
.tablesorter-default th,
.tablesorter-default thead td {
 font-weight:700;
 color:#000;
 background-color:#fff;
 border-collapse:collapse;
 border-bottom:#ccc 2px solid;
 padding:0
}
.tablesorter-default tfoot td,
.tablesorter-default tfoot th {
 border:0
}



.tablesorter-default td {
 background-color:#fff;
 border-bottom:#ccc 1px solid;
 padding:4px;
 vertical-align:top
}
.tablesorter-default tbody>tr.even:hover>td,
.tablesorter-default tbody>tr.hover>td,
.tablesorter-default tbody>tr.odd:hover>td,
.tablesorter-default tbody>tr:hover>td {
 background-color:#fff;
 color:#000
}
            
        </style>
    </head>
    <body>
        
        <ul>
            % if alltypes:
                % for title in tabelofcontent:
                    <li> <a href="#${title}">${title}</a></li> 
                % endfor
        % endif
        </ul>
        <table id="scansummary-content" class="table table-bordered tablesorter-default tablesorter524719795f1ea8">
            </thead>
                <tr>
                    % for h in head:
                        <th>${h}</th>
                    % endfor
                </tr>
            </thead>
            <tbody>

                % for d in data:  

                        <tr>
                            % for x in d:
                                % if loop.index == 4:
                                    <td><a href="https://${x}">${x}</a></td>
                                % elif loop.index == 5:
                                    <td class="data-element">${x}</td>
                                % else:
                                    <td>${x}</td>
                                % endif
                            % endfor
                         </tr>
                % endfor
            </tbody>
        </table>
        <script type='text/javascript'>[].forEach.call(document.getElementsByClassName("first-element"),function (element) {
            element.outerHTML="<b>"+element.outerHTML+"</b>";
            }); </script>
    </body>
    <script type='text/javascript'>[].forEach.call(document.getElementsByClassName("data-element"), function (element) {
        element.outerHTML=replace_sfurltag(element.outerHTML);
        });

        </script>
</html>