body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar-brand {
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.brand-logo {
  display: block;
  float: left;
  padding-top: 5px;
  padding-right: 20px;
}

table.tablesorter thead tr .header {
cursor: pointer;
background-image: url(../img/sortbg.gif);
background-repeat: no-repeat; 
background-position: center left; 
padding-left: 20px; 
margin-left: -1px; 
}

a.link:hover {
    cursor: pointer;
}

.dend-node circle {
fill: #fff;
stroke: steelblue;
stroke-width: 1.5px;
}

.dend-node {
font: 10px sans-serif;
}

.dend-link {
fill: none;
stroke: #ccc;
stroke-width: 1.5px;
}

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.bar {
fill: orange;
}

.bar:hover {
fill: orangered ;
}

.x.axis path {
display: none;
}

