table.tablesorter thead tr .header {
cursor: pointer;
background-image: url(/static/img/sortbg.gif);     
background-repeat: no-repeat; 
background-position: center left; 
padding-left: 20px; 
margin-left: -1px; 
}

a.link:hover {
    cursor: pointer;
}
