body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar-brand {
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.brand-logo {
  display: block;
  float: left;
  padding-top: 5px;
  padding-right: 20px;
}

.spiderfoot-header-image {
  height: 30px;
  image-rendering: auto;
}

.help-block {
  font-size: 10px;
}

.graph-container {
  height: 650px;
  width: 100%;
}

.table-border-bg-inherit {
  border: 0px;
  background-color: inherit;
}

.font-size-36-px {
  font-size: 36px;
}

.font-size-90-percent {
  font-size: 90%;
}

.height-480-px {
  height: 480px;
}

.width-400-px {
  width: 400px;
}

.vertical-align-top {
  vertical-align: top;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

table.tablesorter thead tr .header {
cursor: pointer;
background-image: url(../img/sortbg.gif);
background-repeat: no-repeat; 
background-position: center left; 
padding-left: 20px; 
margin-left: -1px; 
}

a.link:hover {
    cursor: pointer;
}

.dend-node circle {
fill: #fff;
stroke: steelblue;
stroke-width: 1.5px;
}

.dend-node {
font: 10px sans-serif;
}

.dend-link {
fill: none;
stroke: #ccc;
stroke-width: 1.5px;
}

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.bar {
fill: orange;
}

.bar:hover {
fill: orangered ;
}

.x.axis path {
display: none;
}

