<!DOCTYPE html>
<html lang="en">
  <script type='text/javascript' src='${docroot}/static/js/spiderfoot.js'></script>
  <script type='text/javascript' src='${docroot}/static/js/viz.js'></script>
  <head>
    <meta charset="utf-8">
    <title>SpiderFoot v3.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="${docroot}/static/img/spiderfoot-icon.png">

    <!-- Le styles -->
    <link href="${docroot}/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="${docroot}/static/css/spiderfoot.css" rel="stylesheet">
    <style>
      body {
          padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .navbar-brand {
        image-rendering:   -o-crisp-edges;         /* Opera */
        image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
      }
      .brand-logo {
        display: block;
        float: left;
        padding-top: 5px;
        padding-right: 20px;
      }

    </style>
    <link href="${docroot}/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="navbar-brand brand-logo" href="${docroot}/"><img style='height: 30px; image-rendering: auto;' src="${docroot}/static/img/spiderfoot-header.png" /></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                    <li
% if pageid == "NEWSCAN":
    class="active"
% endif
><a href="${docroot}/newscan"><i class="icon-screenshot"></i>&nbsp;New Scan</a></li>
                    <li 
% if pageid == "SCANLIST": 
    class="active"
% endif
><a href="${docroot}/"><i class="icon-list"></i>&nbsp;Scans</a></li>
                    <li
% if pageid == "SETTINGS":
    class="active"
%endif
><a href="${docroot}/opts"><i class="icon-wrench"></i>&nbsp;Settings</a></li>
            </ul>
            <ul class="nav pull-right">
                    <li><a href="#aboutmodal" data-toggle="modal"><i class="icon-info-sign"></i>&nbsp;About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="aboutmodal" class="modal hide fade">
    <div class="modal-header">
    <h3>SpiderFoot 3.0</h3>
    </div>
    <div class="modal-body">
    <p>SpiderFoot is an open source, GPL-licensed footprinting tool, created by <a href='http://www.binarypool.com' target=_new>Steve Micallef</a>. It is designed to be easy to use, fast and extensible.</p>
    <p>If you have any bugs to report, or requests for enhancements, please contact the support mailing list at <a href=mailto:support@spiderfoot.net>support@spiderfoot.net</a>.
    <br>
    <p>You are running version <b>3.0</b>.</p>
    <p> Visit the project website at <a href='https://www.spiderfoot.net' target=_new>https://www.spiderfoot.net</a>.</p>
    <p> Check out the Github repo at <a href='https://github.com/smicallef/spiderfoot' target=_new>https://github.com/smicallef/spiderfoot</a>.</p>
    <p> Latest updates @ Twitter <a href='https://twitter.com/binarypool' target=_new>https://twitter.com/binarypool</a>.</p>
    <p> Join the OSINT community on RocketChat! #spiderfoot on <a href='https://osint.team' target=_new>osint.team</a>.</p>
    <p> Want something cloud-based with more capabilities? <a href='https://www.spiderfoot.net/hx' target=_new>Check out SpiderFoot HX</a>.</p>

    </div>
    <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Close</a>
    </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="${docroot}/static/js/jquery.js"></script>
    <script src="${docroot}/static/js/bootstrap.min.js"></script>
    <script src="${docroot}/static/js/jquery.tablesorter.min.js"></script>
    <script src="${docroot}/static/js/d3.v3.min.js"></script>
  <script type='text/javascript'>
        sf.updateTooltips();
  </script>

    <div class="container" id="mainbody">

