<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SpiderFoot v3.1-DEV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="${docroot}/static/img/spiderfoot-icon.png">

    <script type='text/javascript' src='${docroot}/static/js/spiderfoot.js'></script>
    <script type='text/javascript' src='${docroot}/static/js/viz.js'></script>

    <link href="${docroot}/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="${docroot}/static/css/spiderfoot.css" rel="stylesheet">
    <link href="${docroot}/static/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="navbar-brand brand-logo" href="${docroot}/"><img style='height: 30px; image-rendering: auto;' src="${docroot}/static/img/spiderfoot-header.png" /></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                    <li
% if pageid == "NEWSCAN":
    class="active"
% endif
><a href="${docroot}/newscan"><i class="icon-screenshot"></i>&nbsp;New Scan</a></li>
                    <li 
% if pageid == "SCANLIST": 
    class="active"
% endif
><a href="${docroot}/"><i class="icon-list"></i>&nbsp;Scans</a></li>
                    <li
% if pageid == "SETTINGS":
    class="active"
%endif
><a href="${docroot}/opts"><i class="icon-wrench"></i>&nbsp;Settings</a></li>
            </ul>
            <ul class="nav pull-right">
                    <li><a href="#aboutmodal" data-toggle="modal"><i class="icon-info-sign"></i>&nbsp;About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="aboutmodal" class="modal hide fade">
    <div class="modal-header">
    <h3>SpiderFoot 3.1-DEV</h3>
    </div>
    <div class="modal-body">
    <p>SpiderFoot is an open source, GPL-licensed footprinting tool, created by <a href='https://twitter.com/binarypool' target=_new>Steve Micallef</a>. It is designed to be easy to use, fast and extensible.</p>
    <p>If you have any bugs to report, or requests for enhancements, please contact the support mailing list at <a href=mailto:support@spiderfoot.net>support@spiderfoot.net</a>.
    <br>
    <p>You are running version <b>3.1-DEV</b>.</p>
    <p> Visit the project website at <a href='https://www.spiderfoot.net/r.php?u=aHR0cHM6Ly93d3cuc3BpZGVyZm9vdC5uZXQv&s=os_int' target=_new>https://www.spiderfoot.net/</a>.</p>
    <p> Check out the Github repo at <a href='https://github.com/smicallef/spiderfoot' target=_new>https://github.com/smicallef/spiderfoot</a>.</p>
    <p> Latest updates @ Twitter <a href='https://twitter.com/spiderfoot' target=_new>https://twitter.com/spiderfoot</a>.</p>
    <p> Join the OSINT community on RocketChat! #spiderfoot on <a href='https://osint.team' target=_new>osint.team</a>.</p>
    <p> Want something cloud-based with more capabilities? <a href='https://www.spiderfoot.net/r.php?u=aHR0cHM6Ly93d3cuc3BpZGVyZm9vdC5uZXQvaHgvCg==&s=os_int' target=_new>Check out SpiderFoot HX</a>.</p>

    </div>
    <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Close</a>
    </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="${docroot}/static/js/jquery.min.js"></script>
    <script src="${docroot}/static/js/bootstrap.min.js"></script>
    <script src="${docroot}/static/js/jquery.tablesorter.min.js"></script>
    <script src="${docroot}/static/js/d3.min.js"></script>
    <script type='text/javascript'>sf.updateTooltips();</script>

    <div class="container" id="mainbody">

