<%include file="HEADER.tmpl"/>
<script type='text/javascript'>
    function submitForm() {
        modList = "";
        $("[id^=module_]").each(function() {
            if ($(this).is(":checked")) {
                modList += $(this).attr('id') + ",";
            }
        });

        $("#modulelist").val(modList);
    }
</script>
<h2>New Scan</h2>
% if alreadyRunning == True:
<div class="alert alert-error">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<h4>Error Encountered</h4>
Another scan is currently running (${runningScan}). Please either wait for that scan to complete, or abort it before running this one.
</div>
% endif
<form class="form" action='/startscan' method='POST'>
    <div class="control-group">
        <label class="control-label" for="scanname">Scan Name</label>
        <div class="controls">
            <input type="text" id="scanname" name="scanname" placeholder="A unique name for this scan.">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="scantarget">Seed URL</label>
        <div class="controls">
            <input type="text" id="scantarget" name="scantarget" placeholder="e.g. http://www.scantarget.com">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="moduletable">Modules</label>
        <table class="table table-striped table-condensed" id="moduletable">
            % for item in sorted(modules):
                <tr><td><input type=checkbox id="module_${item}" checked></td><td>${item}</td><td>${modules[item]['descr']}</td></tr>
            % endfor
        </table>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type=hidden id='modulelist' name='modulelist' value=''>
            <button onClick='submitForm();' class="btn btn-danger">Run Scan</button>
            <span class="help-block" style='font-size: 10px'>Note: Scan will be started immediately.</span>
        </div>
    </div>
</form>
<%include file="FOOTER.tmpl"/>
