<%include file="HEADER.tmpl"/>
<script type='text/javascript'>
    activeTab = "module";
    alternateTab = "type";

    function submitForm() {
        list = "";
        $("[id^="+activeTab+"_]").each(function() {
            if ($(this).is(":checked")) {
                list += $(this).attr('id') + ",";
            }
        });

        $("#"+activeTab+"list").val(list);
        $("#"+alternateTab+"list").val("");
    }

    function switchTab() {
        $("#"+activeTab+"table").hide();
        $("#"+activeTab+"tab").removeClass("active");
        $("#"+alternateTab+"table").show();
        $("#"+alternateTab+"tab").addClass("active");
        tempTab = alternateTab;
        alternateTab = activeTab;
        activeTab = tempTab;
    }

    function selectAll() {
        $("[id^="+activeTab+"_]").prop("checked", true);
    }

    function deselectAll() {
        $("[id^="+activeTab+"_]").prop("checked", false);
    }

</script>
<h2>New Scan</h2>
% if alreadyRunning == True:
<div class="alert alert-error">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<h4>Error Encountered</h4>
Another scan is currently running (${runningScan}). Please either wait for that scan to complete, or abort it before running this one.
</div>
% endif
<form class="form" action='/startscan' method='POST'>
    <div class="control-group">
        <label class="control-label" for="scanname">Scan Name</label>
        <div class="controls">
            <input type="text" id="scanname" name="scanname" placeholder="Descriptive name for this scan.">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="scantarget">Target Domain Name</label>
        <div class="controls">
            <input type="text" id="scantarget" name="scantarget" placeholder="e.g. scantarget.com">
        </div>
    </div>
    <div class="control-group">
        <ul class='nav nav-tabs'>
        <li id='moduletab' class="active"><a onClick='switchTab()' href='#'>By Module</a></li>
        <li id='typetab'><a onClick='switchTab()' href='#'>By Required Data</a></li>
        <div style='text-align: right'>
        <button type="button" onClick='selectAll()' class="btn-mini btn-info">Select All</button>&nbsp;&nbsp;
        <button type="button" onClick='deselectAll()' class="btn-mini btn-info">De-Select All</button>
        </div>
        </ul>
        <table class="table table-striped table-condensed" id="moduletable">
            % for item in sorted(modules):
                <tr><td><input type=checkbox id="module_${item}" checked></td><td>${modules[item]['name']}</td><td>${modules[item]['descr']}</td></tr>
            % endfor
        </table>
        <table class="table table-striped table-condensed" id="typetable" style='display: none'>
            <% count = 0 %>
            % for item in sorted(types):
                % if count % 2 == 0:
                    <tr>
                % endif
                <td><input type=checkbox id="type_${item[1]}" checked></td><td>${item[0]}</td>
                % if not count % 2 == 0:
                    </tr>
                % endif
                <% count = count + 1 %>
            % endfor
        </table>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type=hidden id='modulelist' name='modulelist' value=''>
            <input type=hidden id='typelist' name='typelist' value=''>
            <button onClick='submitForm();' class="btn btn-danger">Run Scan</button>
            <span class="help-block" style='font-size: 10px'>Note: Scan will be started immediately.</span>
        </div>
    </div>
</form>
<%include file="FOOTER.tmpl"/>
