<%include file="HEADER.tmpl"/>
    <h2>Scans &nbsp;<img id=loader src=/static/img/loader.gif></h2>
% if newscan:
<div class="alert alert-success">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
 <h4>Success!</h4>
 Scan '${newscan}' has successfully been initiated. Reload this page for up-to-date status on the scan.
</div>
% endif
% if stoppedscan:
<div class="alert alert-warning">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
 <h4>Scan aborted.</h4>
 Please allow a minute or two for the scan to cleanly shut itself down.
</div>
% endif
    <script type='text/javascript'>
            sf.fetchData('/scanlist', null, function(data) {
                            if (data.length == 0) {
                                $("#loader").fadeOut(500);
                                welcome = "<div class='alert alert-info'>";
                                welcome += "<h4>Run your first scan!</h4>";
                                welcome += "There is currently no history of previously run scans. Please click 'New Scan' to initiate a new scan."
                                welcome += "</div>";
                                $("#mainbody").append(welcome);
                                return;
                            }
                            var table = "<table class='table table-bordered table-striped'>";
                            table += "<thead><tr> <th>Name</th> <th>Target</th> <th>Started</th> <th >Finished</th> <th style='text-align: center'>Status</th> <th style='text-align: center'>Elements</th><th style='text-align: center'>Action</th> </tr></thead><tbody>";
                            for (var i = 0; i < data.length; i++) {
                                table += "<tr><td><a href=/scaninfo?id=" + data[i][0] + ">" + data[i][1] + "</a></td>";
                                table += "<td>" + data[i][2] + "&nbsp;&nbsp;<a target='_new' href='" + data[i][2] + "'><i class='icon-share icon-gray'></a></td>";
                                table += "<td>" + data[i][3] + "</td>";
                                table += "<td>" + data[i][5] + "</td>";

                                if (data[i][6] == "FINISHED") {
                                    status = "badge-success";
                                }
                                if (data[i][6].startsWith("ABORT")) {
                                    status = "badge-warning";
                                }
                                if (data[i][6] == "RUNNING" || data[i][6] == "STARTED") {
                                    status = "badge-info";
                                }
                                if (data[i][6].endsWith("FAILED")) {
                                    status = "badge-important";
                                }
                                table += "<td style='text-align: center'><span class='badge " + status + "'>" + data[i][6] + "</span></td>";
                                table += "<td style='text-align: center'>" + data[i][7] + "</td>";
                                table += "<td style='text-align: center'>";
                                if (data[i][6] == "RUNNING" || data[i][6] == "STARTING" || data[i][6] == "STARTED") {
                                    table += "<a href=/stopscan?id=" + data[i][0] +"><i class='icon-stop icon-gray'></a></td>";
                                } else {
                                    table += "<a href=/scandelete?id=" + data[i][0] + "><i class='icon-trash icon-gray'></a></td>";
                                }
                                table += "</tr>";
                            }
                            table += "</tbody></table>";
                            $("#loader").fadeOut(500);
                            $("#mainbody").append(table);                        
            });
    </script>
<%include file="FOOTER.tmpl"/>
