<%include file="HEADER.tmpl"/>
<div class="alert alert-danger">
<h4>Confirm Deletion</h4>
<br>
% if len(id) > 0:
Please confirm you wish to delete the scans:<br />
<ul>
% for scan_name in names:
    <li>${scan_name}</li>
% endfor
<% idlist = ','.join(id) %>
</ul>
<br />
<a class='btn btn-danger' href='${docroot}/scandelete?id=${idlist}&confirm=1'>Confirm Deletion</a>
% endif
</div>
<%include file="FOOTER.tmpl"/>
