<%include file="HEADER.tmpl"/>
<h2>${name} &nbsp;<img id=loader src=${docroot}/static/img/loader.gif></h2>
  <div class="btn-toolbar">
   <div class="btn-group">
      <a id='btn-status' class="btn" onClick='scanStatusView("${id}")'><i class='icon-eye-open'></i>&nbsp;Status</a>
      <a id='btn-browse' class="btn" onClick='browseEventList("${id}")'><i class='icon-th-list'></i>&nbsp;Browse</a>
      <a id='btn-graph' class="btn" onClick='graphEvents("${id}")'><i class='icon-asterisk'></i>&nbsp;Graph</a>
      <a id='btn-info' class="btn" onClick='viewScanConfig("${id}")'><i class='icon-cog'></i>&nbsp;Scan Settings</a>
      <a id='btn-log' class="btn" onClick='viewScanLog("${id}")'><i class='icon-book'></i>&nbsp;Log</a>
    </div>
    <div id='btn-search' class='btn-group pull-right input-append'>
    <input class=span2 id=searchvalue type=text placeholder='Search...' data-toggle='popover' data-html=true data-animation=true data-title='Usage' data-content="Supply a regular expression encapsulated in '/', e.g. <i>/searchregex/</i> or a simple wildcard search, e.g. <i>*string*</i> or an exact value, e.g. <i>string</i>.<br><br><b>Note</b> that the current scope is what's searched."> 
        <button class='btn btn-primary' id=searchbutton type=button onClick=$('#btn-search').popover('toggle');searchDirector('${id}')>
            <i class='icon-search icon-white'></i>
        </button>
    </div>
    <div class="btn-group pull-right">
    <a id='btn-refresh' rel="tooltip" title="Refresh" class="btn-success btn" onClick='refresh()'><i class='icon-refresh icon-white'></i></a>
    <a id='btn-export' rel="tooltip" title="Export Data" class="btn-success btn" onClick='exportEventData("${id}", currentType)'><i class='icon-download-alt icon-white'></i></a>
    </div> 
    <div id='customtabview' class="btn-group pull-right">
     <a id='btn-fullview' rel="tooltip" data-title="Full Data View" class="btn-inverse btn active" onClick='browseUpdate("full")'><i class='icon-th icon-white'></i></a>
     <a id='btn-uniqueview' rel="tooltip" data-title="Unique Data View" class="btn-inverse btn" onClick='browseUpdate("unique")'><i class='icon-align-justify icon-white'></i></a>
     <a id='btn-vizview' rel="tooltip" data-title="Visualize" class="btn-inverse btn dropdown-toggle" data-toggle="dropdown"><i class='icon-picture icon-white'></i></a>
     <ul class="dropdown-menu">
        <li><a class='link' onClick='browseUpdate("viz-bubble-data")'>Bubble (Data Element)</a></li>
        <li><a class='link' onClick='browseUpdate("viz-bubble-source")'>Bubble (Source Data Element)</a></li>
        <li><a class='link' onClick='browseUpdate("viz-dendro")'>Discovery Path</a></li>
     </ul>
    </div>
    <div id='customvizview' class="btn-group pull-right">
     <a id='btn-random' rel="tooltip" data-title="Random Layout" class="btn-inverse btn active" onClick='vizUpdate("random")'><b>R</b></a>
     <a id='btn-forceatlas' rel="tooltip" data-title="Force Layout" class="btn-inverse btn" onClick='vizUpdate("force")'><b>F</b></a>
     <a id='btn-saveimage' rel="tooltip" data-title="Save Image" class="btn-inverse btn dropdown-toggle" onClick='vizUpdate("download")'><i class='icon-picture icon-white'></i></a>
    </div>
    <div id='modifyactions' class="btn-group pull-right">
        <a id='btn-setfp' rel="tooltip" data-title="Set/Unset False Positive flag" class="btn-warning btn dropdown-toggle" data-toggle="dropdown"><i class='icon-ban-circle icon-white'></i></a>
        <ul class="dropdown-menu">
            <li><a href='#' class='link' onClick='setFp(1)'>Set False Positive flag</a></li>
            <li><a href='#' class='link' onClick='setFp(0)'>Unset False Positive flag</a></li>
        </ul>
    </div>
  </div>
    <script src="/static/js/sigma.min.js"></script>
    <script src="/static/js/sigma.parsers.json.min.js"></script>
    <script src="/static/js/sigma.plugins.dragNodes.min.js"></script>
    <script src="/static/js/sigma.layout.forceAtlas2.min.js"></script>
    <script src="/static/js/sigma.renderers.snapshot.min.js"></script>
    <script type='text/javascript'>
        var currentType = "ALL";
        var currentTypeName = "All";
        var currentSection = "btn-browse";
        var lastSearchType = "ALL";
        var lastSearchQuery = "";
        var dataloaders = [];
        var sharedSigma = "";
        var loadersrunning = false;
        var refresh = function() { browseEventList("${id}"); }
        $('#searchvalue').popover({ 'trigger': 'focus', 'placement': 'bottom'});
        $('#searchvalue').keyup(function(event) {
            if (event.keyCode == 13) {
                $('#searchbutton').click();
            }
        });

        function switchSelectAll() {
            if (!$("#checkall")[0].checked) {
                $("input[id*=cb_]").prop('checked', false);
            } else {
                $("input[id*=cb_]").prop('checked', true);
            }
        }

        function getSelected() {
            ids = [];
            $("input[id*=cb_]").each(function(i, obj) {
                if (obj.checked) {
                    ids[ids.length] = obj.id.replace("cb_", "");
                }
            });

            return ids;
        }

        function setFp(flag) {
            sel = getSelected();
            if (sel.length == 0) {
                alert("You need to select at least one record.");
                return false;
            }
            data = JSON.stringify(sel);
            $("#loader").show();
            sf.fetchData('${docroot}/resultsetfp', {'id': '${id}', 'fp': flag, 'resultids': data }, function(ret) {
                $("#loader").hide();
                if (ret[0] == "SUCCESS") {
                    refresh();
                    return;
                }
                if (ret[0] == "WARNING") {
                    alert(ret[1]);
                    return;
                }
                if (ret[0] == "ERROR") {
                    alert("There was an error setting false positives because: " + ret[1] + "\nIf you believe this to be an error, please log out and log back in, and if the problem repeats, report this as a bug.");
                }
            });
        }

        function navTo(target) {
            var targets = [ "btn-browse", "btn-info", "btn-log", 
                "btn-export", "btn-viz", "btn-status", "btn-graph" ]
            for (var i = 0; i < targets.length; i++) {
                if (targets[i] == target) {
                    $("#" + targets[i]).addClass("active");
                } else {
                    $("#" + targets[i]).removeClass("active");
                }
            }

            $("#breadcrumbs").remove();
            $("#customtabview").hide();
            $("#customvizview").hide();
            $("#modifyactions").hide();
            currentSection = target
            dataloaders = []
        }

        function searchDirector(instanceId) {
            qry = $("#searchvalue").val();
            if (currentType == "ALL") {
                searchResults(instanceId, qry);
            } else {
                searchResults(instanceId, qry, currentType);
            }
        }

        function searchResults(instanceId, query, typeName) {
            // Remove pre-existing tables if they exist
            $("#scansummary-content").remove();
            navTo("btn-search");
            $("#modifyactions").hide();
            $("#loader").show();
            $("#btn-export").show();
            $("#btn-refresh").show();
            $("#btn-search").show();
            $("#scanreminder").hide();
            refresh = function() { searchResults(instanceId, query, typeName); }
            sf.search(instanceId, query, typeName, function(data) {
                            lastSearchType = typeName;
                            lastSearchQuery = query;
                            var crumbs = " <ul class='breadcrumb' id='breadcrumbs'> <li><a class='link' onClick='browseEventList(\"" + instanceId + "\");'>Browse</a>";
                            crumbs += " <span class='divider'>&gt;</span></li>";
                            if (typeName != null) {
                                crumbs += " <li><a class='link' onClick=";
                                crumbs += "'browseEventData(\"" + instanceId + "\",\"" + currentTypeName + "\",\"" + typeName + "\",\"full\");'>";
                                crumbs += unescape(currentTypeName) + "</a><span class='divider'>&gt;</span></li>";
                            }
                            crumbs += "<li>Search results";
                            crumbs += " (" + data.length + " records)</li></ul>";

                            if (data.length == 0) {
                                var table = "<div id='scansummary-content'>&nbsp;&nbsp;No results found. Try broadening your search criteria.</div>";
                            } else {
                                var table = "<table id='scansummary-content' class='table table-bordered table-striped small'><thead><tr>";
                                if (typeName == null) {
                                    table += "<th>Data Element Type</th>";
                                }
                                table += "<th>Data Element</th><th>Source Data Element</th><th>Source Module</th><th>Identified</th></tr></thead><tbody>";
                                for (var i = 0; i < data.length; i++) {
                                    table += "<tr>";
                                    if (typeName == null) {
                                        table += "<td>" + data[i][8] + "</td>";
                                    }
                                    table += "<td><pre style='border: 0px; background-color: inherit'>";
                                    //table += "<a href='${docroot}/entityinfo?id=" + data[i][7] + "'>" + data[i][1] + "</a>";
                                    table += sf.replace_sfurltag(data[i][1]);
                                    // for debug
                                    //table += "</pre></td><td><pre style='border: 0px; background-color: inherit'>" + data[i][7];
                                    //table += "</pre></td><td><pre style='border: 0px; background-color: inherit'>" + data[i][5];
                                    //table += "</pre></td><td><pre style='border: 0px; background-color: inherit'>" + data[i][6];
                                    table += "</pre></td><td><pre style='border: 0px; background-color: inherit'>";
                                    table += sf.replace_sfurltag(data[i][2]);
                                    table += "</pre></td><td><pre style='border: 0px; background-color: inherit'>" + data[i][3];
                                    table += "</pre></td><td><pre style='border: 0px; background-color: inherit'>" + data[i][0];
                                    table += "</pre></td>";
                                    table += "</tr>";
                                }
                                table += "</tbody></table>"
                            }
                            $("#loader").fadeOut(500);
                            $("#mainbody").append(crumbs + table);
            });
        }

        // Visualisation
        function graphEvents(instanceId) {
            grid = "<div id='scansummary-content'><br>"
            grid += "<div class='span12' style='height: 650px; width: 100%' id='graph-container'></div>"
            grid += "</div>"

            $("#scansummary-content").remove();
            $("#loader").show();
            $("#btn-export").show();
            $("#btn-refresh").show();
            $("#btn-search").hide();
            $("#btn-graph").show();
            $("#scanreminder").hide();
            refresh = function() { graphEvents(instanceId); }
            navTo("btn-graph");
            $("#customvizview").show();
            $("#mainbody").append(grid);
            $("#btn-forceatlas").removeClass("active");
            $("#btn-random").addClass("active");

            sigma.renderers.def = sigma.renderers.canvas
            sigma.parsers.json("/scanviz?id=" + instanceId + "&gexf=0", {
                container: 'graph-container'
            }, function(s) { 
                sharedSigma = s;
                s.settings({
                    edgeColor: 'default',
                    defaultEdgeColor: '#aaa',
                    maxNodeSize: 5
                });
                sigma.plugins.dragNodes(s, s.renderers[0])
                s.refresh()
                $("#loader").hide();
            });
        }

        function vizUpdate(method) {
            s = sharedSigma
            if (method == "force") {
                $("#btn-forceatlas").addClass("active");
                $("#btn-random").removeClass("active");
                s.startForceAtlas2();
                s.refresh();
                setTimeout(function() { s.stopForceAtlas2() }, 5000);
            }

            if (method == "random") {
                $("#btn-forceatlas").removeClass("active");
                $("#btn-random").addClass("active");
                refresh();
            }

            if (method == "download") {
                s.renderers[0].snapshot({download: true});
            }
        }

        // Scan status
        function scanStatusView(instanceId) {
            grid = "<div id='scansummary-content'>"
            grid += "<div class='row'>"
            grid += "<div class='span12'>"
            grid += "<div class='btn-toolbar' style='text-align: center'>"
            grid += "<div class='btn-group'><button class='btn disabled btn-large' style='font-size: 36px'>Total</button>"
            grid += "<button class='btn disabled btn-inverse btn-large' style='font-size: 36px' id='tcounter'>?</button></div>"
            grid += "<div class='btn-group'><button class='btn disabled btn-large' style='font-size: 36px'>Unique</button>"
            grid += "<button class='btn disabled btn-inverse btn-large' style='font-size: 36px' id='ucounter'>?</button></div>"
            grid += "<div class='btn-group'><button class='btn disabled btn-large' style='font-size: 36px'>Status</button>"
            grid += "<button class='btn disabled btn-inverse btn-large' style='font-size: 36px' id='status'>?</button></div>"
            grid += "<div class='btn-group'><button class='btn disabled btn-large' style='font-size: 36px'>Errors</button>"
            grid += "<button class='btn disabled btn-inverse btn-large' style='font-size: 36px' id='errors'>?</button></div>"
            grid += "</div></div></div><br>"
            grid += "<div class='row'>"
            grid += "<div class='span12' id='vbarsummary' style='height: 480px'></div>"
            grid += "</div><br>"
            grid += "<div class='row'>"
            grid += "<div class='span12' id='logtable'></div>"
            grid += "</div></div>"

            $("#scansummary-content").remove();
            $("#loader").show();
            $("#btn-export").hide();
            $("#btn-refresh").hide();
            $("#btn-search").hide();
            $("#scanreminder").show();
            navTo("btn-status");

            $("#mainbody").append(grid);

            // Collect data and populate variables for use later
            dataloaders.push(
                function() {
                    sf.fetchData('${docroot}/scanstatus', {'id': instanceId}, function(data) {
                        scanName = data[0];
                        scanTarget = data[1];
                        scanStarted = data[2];
                        scanEnded = data[4];
                        scanStatus = data[5];
                    });
                }
            );

            dataloaders.push(
                function() {
                    sf.fetchData('${docroot}/scanerrors', {'id': instanceId}, function(data) {
                        $("#errors").html(data.length);
                    });
                }
            );

            dataloaders.push(
                function() {
                    sf.fetchData('${docroot}/scansummary', {'id': instanceId, 'by': 'type'}, function(data) {
                        scanSummary = [];
                        totalCount = 0;
                        uniqueCount = 0;
                        for (i = 0; i < data.length; i++) {
                            scanSummary[i] = {};
                            scanSummary[i].scanId = instanceId;
                            scanSummary[i].id = data[i][0];
                            scanSummary[i].name = data[i][1];
                            scanSummary[i].total = data[i][3];
                            scanSummary[i].counter = data[i][4];
                            scanSummary[i].link = function(d) { return browseEventData(d.scanId, d.name, d.id, "full"); };
                            totalCount += data[i][3];
                            uniqueCount += data[i][4];
                        }

                        for (x = 0; x < i; x++) {
                            scanSummary[x].pct = scanSummary[x].counter / uniqueCount;
                        }

                        $('#ucounter').html(uniqueCount);
                        $('#tcounter').html(totalCount);
                        $('#status').html(scanStatus);
                        $("#vbarsummary").empty();
                        sf_viz_vbar("#vbarsummary", scanSummary);

                        $("#loader").fadeOut(500);
                    });
                }
            );

            dataloaders.push(
                function() {
                    sf.fetchData('${docroot}/scanlog', {'id': instanceId, 'limit': 10}, function(data) {
                            var table = "<div class='well'><table id='statuslog-content' class='table table-condensed' style='font-size: 90%'>";
                            table += "<thead><tr> <th>Time</th> <th>Component</th><th>Type</th><th>Event</th></tr></thead><tbody>";
                            for (var i = 0; i < data.length; i++) {
                                table += "<tr";
                                if (data[i][2] == "ERROR") {
                                    table += " class='error'"
                                }
                                table += "><td>" + data[i][0] + "</a></td>";
                                table += "<td>" + data[i][1] + "</td>";
                                table += "<td>" + data[i][2] + "</td>";
                                table += "<td><pre style='border: 0px; background-color: inherit; font-size: 90%'>" + data[i][3] + "</pre></td>";
                                table += "</tr>";
                            }
                            table += "</tbody></table></div>"
                            $("#logtable").empty();
                            $("#logtable").append(table);
                    });
                }
            );

            loadersrunning = true;
            for (var i = 0; i < dataloaders.length; i++) {
                dataloaders[i]();
            }
            loadersrunning = false;
        }

        // Logs for the scan
        function viewScanLog(instanceId) {
            $("#scansummary-content").remove();
            $("#loader").show();
            $("#btn-search").hide();
            $("#btn-export").hide();
            $("#scanreminder").hide();
            navTo("btn-log");
            refresh = function() { viewScanLog(instanceId); }
            sf.fetchData('${docroot}/scanlog', {'id': instanceId}, function(data) {
                            var table = "<table id='scansummary-content' class='table table-bordered table-striped table-condensed' style='font-size: 90%'>";
                            table += "<thead><tr> <th>Time</th> <th>Component</th><th>Type</th><th>Event</th></tr></thead><tbody>";
                            for (var i = 0; i < data.length; i++) {
                                table += "<tr";
                                if (data[i][2] == "ERROR") {
                                    table += " class='error'"
                                }
                                table += "><td>" + data[i][0] + "</a></td>";
                                table += "<td>" + data[i][1] + "</td>";
                                table += "<td>" + data[i][2] + "</td>";
                                table += "<td><pre style='border: 0px; background-color: inherit; font-size: 90%'>" + data[i][3] + "</pre></td>";
                                table += "</tr>";
                            }
                            table += "</tbody></table>"
                            $("#loader").fadeOut(500);
                            $("#mainbody").append(table);
            });
        }

        // Summary of event types and counts for a scan
        function browseEventList(instanceId) {
            currentType = "ALL";
            currentTypeName = "All";

            // Remove pre-existing tables if they exist
            $("#scansummary-content").remove();
            navTo("btn-browse");
            $("#loader").show();
            $("#btn-export").show();
            $("#btn-refresh").show();
            $("#btn-search").show();
            $("#scanreminder").hide();
            refresh = function() { browseEventList(instanceId); }
            sf.fetchData('${docroot}/scansummary', {'id': instanceId, 'by': 'type'}, function(data) {
                            var table = "<table id='scansummary-content' class='table table-bordered table-striped tablesorter'>";
                            table += "<thead><tr> <th>Type</th><th>Unique Data Elements</th> <th>Total Data Elements</th><th>Last Data Element</th></tr></thead><tbody>";
                            for (var i = 0; i < data.length; i++) {
                                table += "<tr><td><a class='link' onClick='";
                                table += "browseEventData(\"${id}\", \"" + escape(data[i][1]) + "\", \"" + data[i][0] + "\", \"full\");'>";
                                table += data[i][1] + "</a></td>";
                                table += "<td>" + data[i][4] + "</td>";
                                table += "<td>" + data[i][3] + "</td>";
                                table += "<td>" + data[i][2] + "</td>";
                            }
                            table += "</tbody></table>"

                            if (data.length < 1) {
                                table = "<div id='scansummary-content' class='alert alert-warning'><h4>No data.</h4>If the scan is still running please try again soon.</div>";
                            }

                            $("#loader").fadeOut(500);
                            $("#mainbody").append(table);
                            $("#scansummary-content").tablesorter();
            });
        }

        // Detailed view of data for an event type for a scan
        function browseEventData(instanceId, eventTypeLabel, eventType, format, filterFP) {
            if (filterFP === 'undefined') {
                filterFP = false;
            }
            $("#scansummary-content").remove();
            $("#breadcrumbs").remove();
            $("#loader").show();
            navTo("btn-browse");
            $("#btn-export").show();
            $("#btn-refresh").show();
            $("#btn-search").show();
            $("#customtabview").show();
            $("#scanreminder").hide();
            currentType = eventType;
            currentTypeName = eventTypeLabel;
            refresh = function() { browseEventData(instanceId, eventTypeLabel, eventType, format, filterFP); }
            browseUpdate = function(newformat) { browseEventData(instanceId, eventTypeLabel, eventType, newformat, filterFP); }

            if (format == 'full') {
                $("#btn-fullview").addClass("active");
                $("#btn-uniqueview").removeClass("active");
                $("#btn-vizview").removeClass("active");
                $("#modifyactions").show();
                sf.fetchData('${docroot}/scaneventresults', {'id': instanceId, 'eventType': eventType }, function(data) {
                            totalcount = 0;
                            fpcount = 0;
                            for (var i = 0; i < data.length; i++) {
                                totalcount++;
                                if (data[i][8] == "1") {
                                    fpcount++;
                                }
                            }
                            var crumbs = " <ul class='breadcrumb' id='breadcrumbs'> <li><a class='link' onClick='browseEventList(\"" + instanceId + "\");'>Browse</a>";
                            crumbs += " <span class='divider'>&gt;</span></li> <li><a class='link' onClick=";
                            crumbs += "'browseEventData(\"" + instanceId + "\",\"" + eventTypeLabel + "\",\"" + eventType + "\",\"";
                            crumbs += format + "\", " + filterFP + ");'>";
                            crumbs += unescape(eventTypeLabel) + "</a></li>";
                            if (fpcount > 0) {
                                crumbs += "<li class='pull-right' style='text-align: center'><i class='icon-ban-circle' />&nbsp;&nbsp;Hide " + fpcount + " False Positives: ";
                                crumbs += "<input style='vertical-align: top' type='checkbox' ";
                                crumbs += "onClick=\"browseEventData('" + instanceId + "', '" + eventTypeLabel +"', '" + eventType + "'";
                                crumbs += ",'" + format + "', ";
                                if (!filterFP) {
                                    fp = 1;
                                    ch = "";
                                } else {
                                    fp = 0;
                                    ch = "checked";
                                }
                                crumbs += fp + ")\" " + ch + "></input></li>";
                            }
                            crumbs += "</ul>";

                            var table = "<table id='scansummary-content' class='table table-bordered table-striped small'>";
                            table += "<thead><tr>";
                            table += "<th style='text-align: center'><input id='checkall' type='checkbox' onClick='switchSelectAll()'>";
                            table += "</th>";
                            table += "<th>Data Element</th></th>";
                            table += "<th>Source Data Element</th><th>Source Module</th><th>Identified</th></tr></thead><tbody>";
                            for (var i = 0; i < data.length; i++) {
                                if (filterFP && data[i][8] == "1") {
                                    continue;
                                }
                                table += "<tr>";
                                table += "<td style='text-align: center'><input type='checkbox' id='cb_" + data[i][7] + "'>";
                                if (data[i][8] == "1") {
                                    table += "<br><i class='icon-ban-circle' style='vertical-align: bottom' />";
                                }
                                table += "</td>";
                                table += "<td><pre style='border: 0px; background-color: inherit'>";
                                //table += "<a href='${docroot}/entityinfo?id=" + data[i][7] + "'>" + data[i][1] + "</a>";
                                table += sf.replace_sfurltag(data[i][1]);
                                // for debug
                                //table += "</pre></td><td><pre style='border: 0px; background-color: inherit'>" + data[i][7];
                                //table += "</pre></td><td><pre style='border: 0px; background-color: inherit'>" + data[i][5];
                                //table += "</pre></td><td><pre style='border: 0px; background-color: inherit'>" + data[i][6];
                                table += "</pre></td><td><pre style='border: 0px; background-color: inherit'>";
                                table += sf.replace_sfurltag(data[i][2]);
                                table += "</pre></td><td><pre style='border: 0px; background-color: inherit'>" + data[i][3];
                                table += "</pre></td><td><pre style='border: 0px; background-color: inherit'>" + data[i][0];
                                table += "</pre></td>";
                                table += "</tr>";
                            }
                            table += "</tbody></table>"
                            $("#loader").fadeOut(500);
                            $("#mainbody").append(crumbs + table);
                            lastChecked = null;
                            var chkboxes = $('input[id*=cb_]');
                            chkboxes.click(function(e) {
                                if(!lastChecked) {
                                    lastChecked = this;
                                    return;
                                }

                                if(e.shiftKey) {
                                    var start = chkboxes.index(this);
                                    var end = chkboxes.index(lastChecked);

                                    chkboxes.slice(Math.min(start,end), Math.max(start,end)+ 1).prop('checked', lastChecked.checked);

                                }

                                lastChecked = this;
                            });

                });
            }

            if (format == 'unique') {
                $("#btn-uniqueview").addClass("active");
                $("#btn-fullview").removeClass("active");
                $("#btn-vizview").removeClass("active");
                if (filterFP == "0") {
                    filterFP = null;
                }
                sf.fetchData('${docroot}/scaneventresultsunique', {'id': instanceId, 'eventType': eventType, 'filterfp': filterFP }, function(data) {
                            var crumbs = " <ul class='breadcrumb' id='breadcrumbs'> <li><a class='link' onClick='browseEventList(\"" + instanceId + "\");'>Browse</a>";
                            crumbs += " <span class='divider'>&gt;</span></li> <li><a class='link' onClick=";
                            crumbs += "'browseEventData(\"" + instanceId + "\",\"" + eventTypeLabel + "\",\"" + eventType + "\",\"" + format;
                            crumbs += "\", " + filterFP + ");'>";
                            crumbs += unescape(eventTypeLabel) + "</a></li>";
                            crumbs += "<li class='pull-right' style='text-align: center'><i class='icon-ban-circle' />&nbsp;&nbsp;Hide False Positives: ";
                            crumbs += "<input style='vertical-align: top' type='checkbox' ";
                            crumbs += "onClick=\"browseEventData('" + instanceId + "', '" + eventTypeLabel +"', '" + eventType + "'";
                            crumbs += ",'" + format + "', ";
                            if (!filterFP) {
                                fp = 1;
                                ch = "";
                            } else {
                                fp = 0;
                                ch = "checked";
                            }
                            crumbs += fp + ")\" " + ch + "></input></li>";
                            crumbs += "</ul>";

                            var table = "<table id='scansummary-content' class='table table-bordered table-striped small'>";
                            table += "<thead><tr> <th>Unique Data Element</th><th>Occurrences</th></tr></thead><tbody>";
                            for (var i = 0; i < data.length; i++) {
                                table += "<tr><td><pre style='border: 0px; background-color: inherit'>";
                                table += sf.replace_sfurltag(data[i][0]);
                                table += "</pre></td><td>" + data[i][2] + "</td>";
                                table += "</tr>";
                            }
                            table += "</tbody></table>"
                            $("#loader").fadeOut(500);
                            $("#mainbody").append(crumbs + table);
                });
            }

            if (format.indexOf('viz') == 0) {
                $("#btn-vizview").addClass("active");
                $("#btn-fullview").removeClass("active");
                $("#btn-uniqueview").removeClass("active");

                if (format.indexOf("viz-bubble") == 0) {
                    sf.fetchData('${docroot}/scaneventresults', {'id': instanceId, 'eventType': eventType }, function(data) {
                        var crumbs = " <ul class='breadcrumb' id='breadcrumbs'> <li><a class='link' onClick='browseEventList(\"" + instanceId + "\");'>Browse</a>";
                        crumbs += " <span class='divider'>&gt;</span></li> <li><a class='link' onClick=";
                        crumbs += "'browseEventData(\"" + instanceId + "\",\"" + eventTypeLabel + "\",\"" + eventType + "\",\"" + format + "\");'>";
                        crumbs += unescape(eventTypeLabel) + "</a></li></ul>";
                        itemList = []
                        for (var i = 0; i < data.length; i++) {
                            if (format == "viz-bubble-source") {
                                itemList.push(sf.remove_sfurltag(data[i][2]));
                            }
                            if (format == "viz-bubble-data") {
                                itemList.push(sf.remove_sfurltag(data[i][1]));
                            }
                        }
                        $("#loader").fadeOut(500);
                        $("#mainbody").append(crumbs + "<div id='scansummary-content' style='text-align: center'></div>");
                        sf_viz_bubble("#scansummary-content", itemList)
                    });
                }

                if (format == "viz-dendro") {
                    sf.fetchData("${docroot}/scanelementtypediscovery", {'id': instanceId, 'eventType': eventType }, function(data) {
                        var crumbs = " <ul class='breadcrumb' id='breadcrumbs'> <li><a class='link' onClick='browseEventList(\"" + instanceId + "\");'>Browse</a>";
                        crumbs += " <span class='divider'>&gt;</span></li> <li><a class='link' onClick=";
                        crumbs += "'browseEventData(\"" + instanceId + "\",\"" + eventTypeLabel + "\",\"" + eventType + "\",\"" + format + "\");'>";
                        crumbs += unescape(eventTypeLabel) + "</a></li></ul>";

                        $("#loader").fadeOut(500);
                        $("#mainbody").append(crumbs + "<div id='scansummary-content' style='text-align: center'></div>");
                        sf_viz_dendrogram("#scansummary-content", data);
                    });
                }
            }
        }

        // Download the data currently being viewed
        function exportEventData(instanceId, eventType) {
            $("#loader").show();
            var efr = document.getElementById('exportframe');
            if (currentSection == "btn-search") {
                if (lastSearchType == null || lastSearchType == "ALL") {
                    type = "";
                } else {
                    type = lastSearchType;
                }
                efr.src = '${docroot}/scansearchresultexport?id=' + instanceId + '&eventType=' + type + "&value=" + lastSearchQuery;
            }

            if (currentSection == "btn-browse") {
                efr.src = '${docroot}/scaneventresultexport?id=' + instanceId + '&type=' + eventType;
            }

            if (currentSection == "btn-graph") {
                efr.src = '${docroot}/scanviz?id=' + instanceId + '&gexf=1';
            }

            $("#loader").fadeOut(500);
        }

        // View the configuration that was used for this scan
        function viewScanConfig(instanceId) {
            $("#scansummary-content").remove();
            $("#loader").show();
            $("#btn-export").hide();
            $("#btn-refresh").show();
            $("#btn-search").hide();
            $("#scanreminder").hide();
            navTo("btn-info");
            refresh = function() { viewScanConfig(instanceId); }
            sf.fetchData('${docroot}/scanopts', {'id': instanceId}, function(data) {
                table = "<div id='scansummary-content'>";
                table += "<h4>Meta Information</h4>";
                table += "<table class='table table-bordered table-striped'>";
                table += "<tr><td>Name:</td><td>" + data['meta'][0] + "</td></tr>";
                table += "<tr><td>Internal ID:</td><td>${id}</td></tr>";
                table += "<tr><td>Target:</td><td>" + data['meta'][1] + "</td></tr>";
                table += "<tr><td>Started:</td><td>" + data['meta'][3] + "</td></tr>";
                table += "<tr><td>Completed:</td><td>" + data['meta'][4] + "</td></tr>";
                table += "<tr><td>Status:</td><td>" + data['meta'][5] + "</td></tr>";
                table += "</table>";
                table += "<h4>Global Settings</h4>";
                table += "<table class='table table-bordered table-striped'>";
                table += "<thead><tr> <th>Option</th> <th>Value</th></tr></thead><tbody>";
                for (var key in data['config']) {
                    if (key.indexOf(":") > 0) {
                        continue;
                    }
                    table += "<tr><td width=100%>" + data['configdesc'][key] + "</td><td>" + data['config'][key] + "</td></tr>";
                }
                table += "</table>";
                table += "<h4>Module Settings</h4>";
                table += "<table class='table table-bordered table-striped' style='width: 400px'>";
                table += "<thead><tr><th>Module</th> <th>Option</th> <th>Value</th></tr></thead><tbody>";
                keys = [];
                for (var key in data['config']) {
                    keys.push(key);
                }
                keys_s = keys.sort();

                for (var i = 0; i < keys_s.length; i++) {
                    key = keys_s[i];
                    if (key.indexOf(":") > 0) {
                        bits = key.split(":");
                        table += "<tr><td>" + bits[0] + "</td><td>" + data['configdesc'][key] + "</td><td>" + data['config'][key] + "</td></tr>";
                    }
                }
                table += "</table></div>";

                $("#loader").fadeOut(500);
                $("#mainbody").append(table);
            });
        }

        if ("${status}" == "RUNNING" || "${status}" == "STARTING" || "${status}" == "UNKNOWN") {
            scanStatusView("${id}");
        } else {
            browseEventList("${id}");
        }

        setInterval(function() {
            for (var i = 0; i < dataloaders.length; i++) {
                if (!loadersrunning) {
                    loadersrunning = true;
                    dataloaders[i]();
                    loadersrunning = false;
                }
            }
        }, 5000);

    </script>
<iframe style='display: none' id='exportframe'>
<%include file="FOOTER.tmpl"/>
