<%include file="HEADER.tmpl"/>
    <h2>Scans</h2>
% if newscan:
<div class="alert alert-success">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
 <h4>Success!</h4>
 Scan '${newscan}' has successfully been initiated. Reload this page for up-to-date status on the scan.
</div>
% endif
    <script type='text/javascript'>
            sf.fetchData('/scanlist', null, function(data) {
                            var table = "<table class='table table-bordered table-striped'>";
                            table += "<thead><tr> <th>Name</th> <th>Target</th> <th>Started</th> <th>Finished</th> <th>Status</th> <th>Events</th> </tr></thead><tbody>";
                            for (var i = 0; i < data.length; i++) {
                            table += "<tr><td><a href=/scaninfo?id=" + data[i][0] + ">" + data[i][1] + "</a></td>";
                            table += "<td>" + data[i][2] + "&nbsp;&nbsp;<a target='_new' href='" + data[i][2] + "'><i class='icon-share icon-gray'></a></td>";
                            table += "<td>" + data[i][3] + "</td>";
                            table += "<td>" + data[i][5] + "</td>";
                            table += "<td>" + data[i][6] + "</td>";
                            table += "<td>" + data[i][7] + "</td></tr>";
                            }
                            table += "</tbody></table>"
                            $("#mainbody").append(table);                        
            });
    </script>
<%include file="FOOTER.tmpl"/>
