<%include file="HEADER.tmpl"/>
<div class="alert alert-warning">
<h4>Confirm Deletion</h4>
<br><br>
Please confirm you wish to delete the scan '${name}'<br><br>
<a class='btn btn-danger' href='/scandelete?id=${id}&confirm=1'>Confirm Deletion</a>
</div>
<%include file="FOOTER.tmpl"/>
